// =========
// This file is a custom file that loads all files. Each non-base layer
// can be disabled.
//
// Do not name this file "milab.scss". This file should be named
// THEMENAME.scss.
//
// This application file (THEMENAME.scss) is where all the partials are
// imported.
//
// Theme styles are categorized using SMACSS standards. They utilize
// categorization of styles into various categories. Those categories are the
// following:
//
// - Base: CSS reset/normalize plus HTML element styling.
// - Layout: Macro arrangement of a web page, including any grid systems.
// - Modules: Dictate minor layout modules or reusable elements.
// - States: Describe the appearance of a module in various states.
// - Theme: Specific customizations for your subtheme.
// For more information about this new Drupal css file standard, please review
// the following:
// - https://drupal.org/node/1887922
// - http://smacss.com/
// =========

// Make sure the charset is set appropriately
@charset 'utf-8';

// This is your _settings.scss file where you can override foundation variables.
// http://foundation.zurb.com/sites/docs/sass.html#the-settings-file
@import 'settings';

// Core
// The following imports bootstrap the theme.
@import 'foundation';
@import 'motion-ui';

// Foundation Components / Partials
// http://foundation.zurb.com/sites/docs/sass.html#adjusting-css-output
//
// Note: The following include statements import sass partials for corresponding
// Foundation 6 features and components. If you do not need any of the features
// listed below feel free to comment each line out and re-compile.
//
// We are using Foundation's Float Grid (Legacy) for layout as our default.
// http://foundation.zurb.com/sites/docs/grid.html
//
// Why not use the new XY Grid? The XY Grid system is a major update that has new
// markup requirements which would break other module integrations that currently
// work with ZURB Foundation for Drupal. Because we don't like to introduce breaking
// changes for websites we have elected to take this route for greater support.
//
// Note: This will likely change in future releases as the XY Grid becomes the
// new standard.
//
// Still want to use the XY Grid? Uncomment the foundation-xy-grid-classes include
// statement and recompile css.  You can now use the new XY Grid!
//
// http://foundation.zurb.com/sites/docs/xy-grid.html
//
// WARNING: Including the XY Grid and disabling Float Grid will require that base
// theme provided template files be copied to your sub-theme and modified accordingly
// to match XY Grid markup requirements.
//
@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-float-classes;
//@include foundation-flex-classes;
//@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;

// Prototyping Utilities / Partials
// http://foundation.zurb.com/sites/docs/prototyping-utilities.html
//
//@include foundation-prototype-typescale;
//@include foundation-prototype-text-utilities;
//@include foundation-prototype-text-transformation;
//@include foundation-prototype-text-decoration;
//@include foundation-prototype-font-styling;
//@include foundation-prototype-list-style-type;
//@include foundation-prototype-rounded;
//@include foundation-prototype-bordered;
//@include foundation-prototype-shadow;
//@include foundation-prototype-arrow;
//@include foundation-prototype-separator;
//@include foundation-prototype-overflow;
//@include foundation-prototype-display;
//@include foundation-prototype-position;
//@include foundation-prototype-border-box;
//@include foundation-prototype-border-none;
//@include foundation-prototype-sizing;
//@include foundation-prototype-spacing;

// Motion UI Components / Partials
// http://foundation.zurb.com/sites/docs/motion-ui.html
@include motion-ui-transitions;
@include motion-ui-animations;


// Our Custom Components / Partials
//
// Import our mixins early so they can be used by other partials.
// Optional.
//@import 'base/mixins';

// Common file is where you place common utility classes to extend or
// parametrics.
// Optional.
// @import 'base/common';

// Drupal specific styles (to fix Drupalisms).
@import 'base/drupal';

// Styling for elements.
// Optional.
@import 'base/elements';

// Layout
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import 'layout/header';
@import 'layout/main';
@import 'layout/aside';
@import 'layout/footer';

// Modules
@import 'modules/block';
// @import 'modules/button';

// States
// @import 'states/collapse';

// Themes
// @import 'theme/button-light';

// Older IE support
// @import 'vendor/ie';

.views-exposed-form {
    legend {
      width: 100%;
      border-bottom: 1px solid #cf3f7e;
      padding-bottom: 0.5rem;
      margin-bottom: 0.8rem;
  
      .fieldset-legend {
        text-transform: uppercase;
        color: #cf3f7e;
        font-weight: 600;
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
  
    .js-form-type-checkbox {
      label {
        font-family: 'Roboto Condensed', sans-serif;
        color: #333;
      }
    }
  
    .form-select {
      border-radius: 6px;
      color: #555;
      background-color: #f7f7f7;
      font-family: 'Roboto Condensed', sans-serif;
    }
  
    .js-form-type-select {
      & > label {
        text-transform: uppercase;
        color: #cf3f7e;
        font-weight: 600;
        font-family: 'Roboto Condensed', sans-serif;
        border-bottom: 1px solid #cf3f7e;
        padding-bottom: 0.4rem;
        margin-bottom: 1.2rem;
      }
    }
  
    form {
      & > .form-item {
        margin-bottom: 1rem;
      }
    }
  
    .block-title {
      color: #cf3f7e;
      display: flex;
      align-items: center;
      font-size: 1.5625rem;
  
      &::before {
        content: '';
        display: block;
        background: url(../images/filtro.png) center center no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 0.3rem;
      }
    }

    [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
        border-radius: 6px;
        background-color: #fefefe;
        box-shadow: none;
    }
  }

  header {
      & > .columns {
          & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
      }
      &.header {
        width: 100%;
        margin-top: 0.85rem;

        section {
            &#block-milab-branding {
                margin: 0;
            }
        }

        nav {
            &#block-milab-main-menu {
                float: none;
                text-align: right;
                margin: 0;

                ul {
                    &.menu.dropdown {
                        text-align: right;
                    }
                }
            }
        }
      }
  }

.item {
    border: 2px solid #eee;
    padding: 1rem;
    border-radius: 6px;

    .imagen {
        border-bottom: 1px solid #ddd;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }

    .segmento {
        font-weight: 600;
        font-size: 0.9rem;

        a {
            color: #333;
        }
    }

    .tecnologia {
        font-size: 0.7rem;
        color: #cf3f7e;
        margin-bottom: 0.5rem;
    }

    .texto {
        font-size: 0.8rem;
        
        p {
            line-height: 1.6;
        }
    }

    .pie {
        display: flex;
        justify-content: space-between;

        .sector {
            font-size: 0.7rem;
            color: #cf3f7e;
            line-height: 1.6;
        }
    
        .ubicación {
            line-height: 1;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                display: inline-block;
                background: url('../images/marker.png');
                width: 9px;
                height: 12px;
                margin-right: 0.2rem;
            }

            .departamento {
                font-size: 0.7rem;
                color: #cf3f7e;
            }
    
            .ciudad {
                font-size: 0.7rem;
                color: #cf3f7e;
            }
        }
    }

    .info-container {
        border-left: 2px solid #cf3f7e;
        padding-left: 0.5rem;
        margin-bottom: 1rem;

        .info {
            font-size: 0.8rem;

            p {
                margin-bottom: 0.5rem;
            }
        }

        .social {
            display: flex;
            justify-content: flex-start;

            & > div {
                margin-right: 0.2rem;
            }
        }
    }
}

.item-2 {
    border: 2px solid #eee;
    padding: 1rem;
    border-radius: 6px;

    .titulo {
        font-weight: 600;
        font-size: 0.9rem;

        a {
            color: #333;
        }
    }

    .segmento {
        font-size: 0.7rem;
        color: #cf3f7e;
        margin-bottom: 0.5rem;
    }

    .solucionador {
        border-bottom: 1px solid #ddd;
        margin-bottom: 1rem;
        padding-bottom: 0.8rem;
        border-top: 1px solid #ddd;
        margin-top: 1rem;
        padding-top: 0.8rem;

        .solucionador-nombre {
            font-weight: 600;
            font-size: 0.9rem;
            color: #cf3f7e;
        }

        .tecnologia {
            font-size: 0.7rem;
    
            span {
                color: #cf3f7e;
            }
        }    
    }

    .texto {
        font-size: 0.8rem;
        min-height: 100px;
        
        p {
            line-height: 1.6;
        }
    }

    .pie {
        display: flex;
        justify-content: space-between;

        .sector {
            font-size: 0.7rem;
            color: #cf3f7e;
            line-height: 1.6;
        }
    
        .ubicación {
            line-height: 1;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                display: inline-block;
                background: url('../images/marker.png');
                width: 9px;
                height: 12px;
                margin-right: 0.2rem;
            }

            .departamento {
                font-size: 0.7rem;
                color: #cf3f7e;
            }
    
            .ciudad {
                font-size: 0.7rem;
                color: #cf3f7e;
            }
        }
    }
}

#block-encabezadomarketplace {
    background: #642c89 url(../images/bg.png) center center no-repeat;
    background-size: cover;
    padding: 3rem 0 7rem 0;
    margin-top: -2rem;

    .text-1 {
        border-right: 2px solid #fff;
        padding-right: 2rem;

        h1 {
            line-height: 1;
            text-align: right;
            color: #fff;
            margin: 0;
            font-size: 4.5rem;
        }
    }

    .text-2 {
        font-size: 1.2rem;
        line-height: 1.4;
        color: #fff;
        padding-left: 2rem;
    }
}

#block-marketplacemenu {
    margin-bottom: 4rem;

    .menu {
        justify-content: center;

        li {
            a {
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                font-size: 1.8rem;
                background-color: #cf3f7e;
                color: #fff;
                padding: 0.6rem 4rem;
                border-radius: 6px 6px 0 0;
                margin: -3rem 0.2rem 0 0.2rem;
                display: block;
                width: 500px;
                text-align: center;

                &.is-active, &:hover {
                    background-color: #fff;
                    color: #cf3f7e;
                }
            }
        }
    }
}

.path-solucionadores #sidebar-first, .path-soluciones #sidebar-first, .node--type-solucion #sidebar-first, .node--type-solucionador #sidebar-first {
    width: 25%;
    float: left;
}

.path-solucionadores #main, .path-soluciones #main, .node--type-solucion #main, .node--type-solucionador #main {
    width: 75%;
    float: right;
}

.path-solucionadores .container-footer,
.path-soluciones .container-footer {
    margin-top: 2rem;
}

.node--type-solucion, .node--type-solucionador {
    .breadcrumbs {
        display: none;
    }

    #block-milab-page-title {
        display: none;
    }
}

#block-views-block-marketplace-block-2 {
    .titulo {
        font-size: 2rem;
        font-weight: 600;
    }
    .categorias {
        color: #cf3f7e;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .body {
        font-size: 0.9rem;
    }
}

#block-views-block-marketplace-block-5 {
    .titulo {
        font-size: 2rem;
        font-weight: 600;
    }
    .categorias {
        color: #cf3f7e;
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .body {
        font-size: 0.9rem;
    }
}

#block-views-block-marketplace-block-3 {
    margin-top: 3rem;
    
    .block-title {
        font-size: 2rem;
        text-align: left;
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    header {
        &.header {
          margin-top: 0;
          padding: 0.7rem 0;
        }
    }

    #block-marketplacemenu {
        .menu {
            li {
                a {
                    font-size: 0.8rem;
                    padding: 0.6rem 0rem;
                    margin: -2rem 0.2rem 0 0.2rem;
                    width: 160px;
                }
            }
        }
    }

    #block-encabezadomarketplace {
        .text-1 {
            border: none;
            padding-right: 0;

            h1 {
                text-align: center;
            }
        }
    }

    .path-solucionadores #sidebar-first, .path-soluciones #sidebar-first, .node--type-solucion #sidebar-first {
        width: 100%;
        float: none;
    }
    
    .path-solucionadores #main, .path-soluciones #main, .node--type-solucion #main {
        width: 100%;
        float: none;
    }    
}