// Non-modular or client styles for .l-header region.
header.header {
    position: absolute;
    z-index: 2;
    padding: 1rem 0;
    section#block-milab-branding {
        display: inline-block;
        width: 20%;
        float: left;
        margin-top: 1rem;
        @media only screen and (max-width: 600px){
            display: block;
            margin-top: 0;
            width: 55%;
            text-align: center;
        }
    }
    nav#block-milab-main-menu {
        display: inline-block;
        width: 60%;
        float: left;
    }
    section#block-logosrigth {
        display: inline-block;
        width: 20%;
        float: left; 
        @media only screen and (min-width: 1300px) {
            width: 13%;
            float: left; 
        }
        @media only screen and (max-width: 600px){
            display: block;
            width: 70%;
        }
    }
}
.homeslider{
    position: relative;
    .views-field-field-image{
        position: relative;
    }
    .info {
        position: absolute;
        z-index: 2;
        top: 60%;
        text-align: center;
        left: 0;
        right: 0;
        transform: translateY(-60%);
        color: white;
        @media only screen and (max-width: 600px) {
            top: 60%;
            transform: translateY(-40%);
          }
    
        h1{
            text-transform: uppercase;
            color: $white;
        }
        .subtitle{
            font-size: 1.2rem;
            padding: 0 20%;
            margin-bottom: 2rem; 
            @media only screen and (max-width: 600px) {
                font-size: 1rem;
                padding: 0 10%;
              }
        }
        .button{
            a{
                color: $white;
            }
        }
 }
 .owl-nav {
    display: none;
}
.owl-dots {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
}
}


.menu-header{
    margin-top: 1rem;
    ul.menu.dropdown {
        display: block;
        text-align: center;
        li{
            a{
                background: transparent;
                color: $white;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 500;
                font-family: 'Roboto Condensed', sans-serif;
                &:hover{
                    color: $primary-color;
                }
                &.is-active{
                    color: $primary-color;
                }
            }
        }
    }
}

.entidades{
    text-align: right;
    img{
        max-width: 70%;
    }
    @media only screen and (max-width: 600px) {
        margin-top: 0.5rem;
        img{
            display: inline-block;
            float: left;
            max-width: 45%;
            padding-right: 0.3rem;
        }
    }
}


section#block-encabezadointernas {
    height: 120px;
    overflow: hidden;
    margin-bottom: 2rem;
    img{
        width: 100%;
    }
    @media only screen and (max-width: 600px) {
        height: 60px;
        img{
            height: 200%;
        }
      }
}
section#block-formularioexpuestoretospage-1{
    h2.block-title {
        font-size: 2rem;
        text-align: left;
        text-transform: none;
        font-weight: 500;
        line-height: 1.1em;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    p.columns {
        margin-bottom: 3rem;
    }
}